santaUI {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-weight: bold;
	border-radius: 20px;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	display: flex;
	margin: 3%;

	.scoreboard {
		width: 300px;
		aspect-ratio: 2/1;
		background-image: url("/ui/scoreboard.png");
		background-size: 100% 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.giftbox {
			height: 100%;
			aspect-ratio: 1;
			justify-content: center;
			align-items: center;

			.gift {
				height: 100%;
				aspect-ratio: 1;
				background-image: url("/ui/present.png");
				background-size: 100% 100%;
				transform: rotate( -30deg );
			}
		}

		.textbox {
			height: 80%;
			width: 50%;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding-top: 5%;
			padding-left: 2%;
			padding-right: 2%;
			padding-bottom: 15%;
			color: #fff;
			font-family: Poppins;
			text-shadow: 0px 0px 2px black;

			.title {
				font-size: 25px;
				font-weight: 300;
			}

			.subtext {
				font-size: 40px;
				font-weight: 500;
			}
		}
	}

	.howto {
		width: 450px;
		aspect-ratio: 2/1;
		background-image: url("/ui/howto.png");
		background-size: 100% 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		transition: all 1s ease-in;

		.textbox {
			height: 100%;
			width: 100%;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: flex-start;
			padding-top: 15%;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 15%;

			.title {
				font-size: 30px;
				font-family: Poppins;
				font-weight: 500;
				color: #140603;
			}

			.subtext {
				font-size: 22px;
				font-family: Poppins;
				font-weight: 300;
				color: #140603;
			}
		}

		&.closed {
			opacity: 0;
		}
	}
}
